doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .left-menu-container
        .left-menu
          .subsection
            h3 Links
            .link
              a(href='http://lisazhang.ca', target='blank') My Blog
            .link
              a(href='http://lisazhang.ca', target='blank') My Blog
          .subsection
            h3 Writing
            .link
              a(href='http://lisazhang.ca', target='blank') My Blog
            .link
              a(href='http://dataincolour.com', target='blank') Data Blog
            .link
              a(href='http://dataincolour.com', target='blank') Facebook Blog Post

      .content
        .section
          h1 Lisa Zhang
          .link
            a(href='mailto: lisa@polychart.com') lisa@polychart.com
          .link
            img.github-logo(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
            a(href='http://github.com/xuexue', target='_blank') xuexue

          .link
            img.twitter-logo(src='https://g.twimg.com/Twitter_logo_blue.png')
            a(href='http://twitter.com/lisaczhang', target='_blank') lisaczhang

        .section
          h2 Summary
          p.
            Data Scientist with full stack software development experience.
            I am a bit of a jack-of-all-trades -- having
            studied pure math at the University of Waterloo, spent time at
            large and small
            companies in a variety of development / data roles, and founded my own
            startup-turned-open-source-project Polychart.
          p.
            My proudest achievements are:
          ul
            li.
              Scoring 33 points on the Putnam math contest (median score is 0 most years)
            li.
              Publishing on the Facebook data science blog.
            li.
              Writing three blog posts that made to the front page of Hacker News.
            li.
              Founding a startup Polychart, and taking it through an
              accelerator program Extreme Startups, meeting awesome people for
              a wonderful startup ride that
              culminated in an open source project and personal development.

        .section
          h2 Current Status
          p I am doing something something something.

        .section
          h2 Recent Work

          .subsection
            h3 VP Engineering & Data Scientist
            span Rubikloud Technologies, Toronto, Ontario, Canada. Winter 2013 - Summer 2014.

          .subsection
            h3 Founder & CEO
            span Polychart Inc, Kitchener/Toronto, Ontario, Canada. Fall 2011 - Ongoing

          .subsection
            h3 Software Developer (Intern)
            span ContextLogic, San Francisco, California, USA. Summer 2011

          .subsection
            h3 Data Scientist (Intern)
            span Facebook, Palo Alto, California, USA. Spring & Winter 2010

          .subsection
            h3 Software Developer in Analytics (Intern)
            span Tagged Inc, San Francisco, California, USA. Summer 2009

        .section
          h2 Education
          .subsection
            h3 Joint Honours Pure & Applied Math, Bachelor of Mathematics, University of Waterloo
            span Waterloo, Ontario, Canada. 2007 - 2012


      .footer.
        This is the footer
