doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .content
        .section
          h1 Lisa Zhang
          .link
            a(href='mailto: lisa@polychart.com') lisa@polychart.com
          .link
            img.github-logo(src='imgs/github.png')
            a(href='http://github.com/xuexue', target='_blank') xuexue

          .link
            img.twitter-logo(src='imgs/twitter.png')
            a(href='http://twitter.com/lisaczhang', target='_blank') lisaczhang

          .link
            img.linkedin-logo(src='imgs/linkdin.png')
            a(href='http://linkd.in/lisaczhang', target='_blank') lisaczhang


        .section
          h2 Summary
          p.
            Data Scientist with full stack software development experience.
            I am a bit of a jack-of-all-trades, having
            studied pure math at the University of Waterloo, spent time at
            large and small companies in a variety of development and data
            roles, and founded my own startup-turned-open-source-project
            Polychart.

          p.
            My proudest achievements are:
          ul
            li.
              Scoring 33 points on the Putnam math contest (where median score is 0 most years)
            li.
              Publishing on the Facebook data science blog.
            li.
              Writing three blog posts that made the front page of Hacker News.
            li.
              Founding a startup Polychart, taking it through 
              accelerator program Extreme Startups, meeting awesome people for
              a ride that culminated in an open source project
              and personal development.

          p.
            Favourite tools of mine include Python, R (with RStudio, ggplot2),
            coffeescript, vim, git, Hadoop for big data, logisitc regression,
            and Bayesian techniques.

          .subsection.highlight
            p.
              I am currently looking for a data science or data engineering
              role in Toronto, Ontario.


        //
          .section
            h2 Current Status
            p I am doing something something something.

        .section
          h2 Relevant Past Work

          .subsection
            h3 VP Engineering & Data Scientist
            span.work-info Rubikloud Technologies, Toronto, Ontario, Canada. Winter 2013 - Summer 2014.
            p.work-desc.
              Analyzed e-commerce traffic data to detect factors that increase
              conversion and revenue. Led a team of 3+ engineers and data
              scientists to build a real-time anomaly detection system.
              (R, Cassandra, Storm, MongoDB, Python, CoffeeScript)

          .subsection
            h3 Founder & CEO
            span.work-info Polychart Inc, Kitchener/Toronto, Ontario, Canada. Fall 2011 - Winter 2013
            p.work-desc.
              Led a team of 5+ to build a web-based tool for visualizing
              SQL databases via drag-and-drop data exploration & dashboarding,
              along with a JavaScript charting
              library that extends the Grammar of Graphics to interaction.
              (CoffeeScript, Python, MySQL, PosgresSQL)

          .subsection
            h3 Software Developer (Intern)
            span.work-info ContextLogic, San Francisco, California, USA. Summer 2011
            p.work-desc.
              Built a pipeline on Hadoop to generate model files used for topic
              inference of text. Sped up topic inference while
              improving quality. (Python, Hadoop, C++)

          .subsection
            h3 Data Scientist (Intern)
            span.work-info Facebook, Palo Alto, California, USA. Spring & Winter 2010
            p.work-desc.
              Studied the impact of "negative events" on user engagement.
              Explored a machine learning approach to photo recommendation.
              Built web-based data tools used by other analysts. Used Hadoop
              and R heavily. (R, Hadoop, Hive, PHP, C++)

          .subsection
            h3 Software Developer in Analytics (Intern)
            span.work-info Tagged Inc, San Francisco, California, USA. Summer 2009
            p.work-desc.
              Improved the in-house analytics platform used to track metrics
              and perform A/B testing. Built frontend features used by millions
              of users world wide. (PHP, GreenPlum)

        .section
          h2 Random Things I Won
          .subsection
            h3 People's Choice Award at DataInsightSF
            span.work-info Data Visualization Competition, San Francisco, California, USA. Summer 2011
            p.work-desc
              span Visualization of AOL search questions. Code at&nbsp;
              a(target="_blank", href='https://github.com/fravic/AOLViz') github repo
              span &nbsp;and writeup&nbsp;
              a(target="_blank", href='http://www.dataincolour.com/2011/06/curiousnakes-visualization-of-aol-questions/') here.

          .subsection
            h3 Hacking Education: Data Analysis Tie
            span.work-info Sponsored by Donors Choose, New York, New York, USA. Summer 2011
            p.work-desc.
              My analysis of DonorsChoose's dataset tied first in the Data
              Analysis category of the "Hacking Education" competition. After
              this I did some pro bono work for DonorsChoose.

          .subsection
            h3 Velocity Venture Fund Pitch Competition
            span.work-info Velocity Venture Fund, Waterloo, Ontario, Canada. Fall 2011
            p.work-desc.
              Won $25,000 to kick-start startup Polychart.

        .section
          h2 Education
          .subsection
            h3 Joint Honours Pure & Applied Math, Bachelor of Mathematics, University of Waterloo
            span.work-info Waterloo, Ontario, Canada. 2007 - 2012
            p.work-desc.
              President of the Statistics Club.
              Part of the Velocity residence, a community of student
              entrepreneurs and founders.

        .section
          h2 Current Readings
          p.
            Some say that one can know more about a person by looking
            at their bookshelves than having a first conversation with
            them.  These are the books that I am currently in the
            middle of:
          .subsection
            .link
              a(href='http://amzn.to/1pBzKZ9', target='_blank') Applied Probability
              span.
                &nbsp;by Lange. I read this mostly as an exercise to
                remember real analysis and for the fun examples. This is
                the most theoretical and densest text I've ever read;
                I actually tried to read it in first year of
                undergrad, but it wasn't until my final year that I could
                begin to understand it.
                (So, that's one thing I got out of a pure math degree!)

          .subsection
            .link
              a(href='http://amzn.to/1klL2S9', target='_blank') Bayesian Data Analysis
              span.
                &nbsp;by Andrew Gelman et al. Love the balance between
                theory and examples in this great introduction to
                Bayesian statistics.
          .subsection
            .link
              a(href='http://www.manning.com/marz/', target='_blank') Big Data
              span.
                &nbsp;by Nathan Marz. This is a book more about introducing
                tools than about introducing many different ideas, so it's actually
                pretty light.
          .subsection
            .link
              a(href='http://amzn.to/1scQV3s', target='_blank') Beyond Good and Evil
              span.
                &nbsp;by Nietzche. So far I've only gotten to the part
                where he is criticizing every other philosopher out there,
                so it's mostly been a sleeping aid.
          .subsection
            .link
              a(href='http://amzn.to/1p9ejzE', target='_blank') The Elements of Statistical Learning
              span.
                &nbsp;aka "ESL". A standard introductory text in
                machine learning and a great reference. Once in a while
                I'd sit down with one chapter and try to really thoroughly
                understand that concept.
          .subsection
            .link
              a(href='http://amzn.to/1odvAaI', target='_blank') Information Visualization
              span.
                &nbsp;by Colin Ware. A physiological approach to data
                visualization, linking how our eyes and brain work to
                how information should be presented. It builds
                visualization best practices from first principle.
          .subsection
            .link
              a(href='http://amzn.to/1qTtISQ', target='_blank') The War of Art
              span.
                &nbsp;by Steven Pressfield. I've actually finished this book,
                but still sit down with it for a boost of motivation. Highly
                recommended.

      .left-menu-container
        .left-menu
          .subsection
            h3 Links
            .link
              a(href='http://polychart.com', target='blank') Polychart
            .link
              a(href='http://lisazhang.ca', target='blank') A Notebook (Blog)
            .link
              a(href='http://dataincolour.ca', target='blank') DataInColour (Blog)

          .subsection
            h3 Select Writing
            .link
              a(href='https://www.facebook.com/notes/facebook-data-team/whats-on-your-mind/477517358858', target='blank') What's On Your Mind?
            .link
              a(href='http://www.lisazhang.ca/2009/12/elevator-algorithms.html', target='blank') Elevator Algorithms
            .link
              a(href='http://www.dataincolour.com/2011/06/hacking-education-part-2-the-curious-case-of-the-mrs/', target='blank') Hacking Education Part 2: The Curious Case of the Mrs
            .link
              a(href='http://www.lisazhang.ca/2010/12/things-i-learned.html', target='blank') Things I learned
            .link
              a(href='http://www.lisazhang.ca/2011/12/galois-theory-in-1500-words.html', target='blank') Galois Theory in 1500 words
            .link
              a(href='http://www.lisazhang.ca/2013/04/6-things-you-probably-dont-know-about.html', target='blank') 6 Things You Probably Don't Know About Colour
          .subsection
            h3 My Code
            .link
              a(href='https://github.com/polychart/polychart2', target='blank') Polychart.js
            .link
              a(href='https://github.com/polychart/builder', target='blank') Polychart Builder
            .link
              a(href='https://github.com/xuexue/xuexue.github.io', target='blank') This Page


      .footer.
        This is the footer. It is here to tell you that you have reached the
        bottom of the page. Last updated August 2014.
