doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .left-menu-container
        .left-menu
          .subsection
            h3 Links
            .link
              a(href='http://polychart.com', target='blank') Polychart
            .link
              a(href='http://lisazhang.ca', target='blank') A Notebook (Blog)
            .link
              a(href='http://dataincolour.ca', target='blank') DataInColour (Blog)

          .subsection
            h3 Select Writing
            .link
              a(href='https://www.facebook.com/notes/facebook-data-team/whats-on-your-mind/477517358858', target='blank') What's On Your Mind?
            .link
              a(href='http://www.lisazhang.ca/2009/12/elevator-algorithms.html', target='blank') Elevator Algorithms
            .link
              a(href='http://www.dataincolour.com/2011/06/hacking-education-part-2-the-curious-case-of-the-mrs/', target='blank') Hacking Education Part 2: The Curious Case of the Mrs
            .link
              a(href='http://www.lisazhang.ca/2010/12/things-i-learned.html', target='blank') Things I learned
            .link
              a(href='http://www.lisazhang.ca/2011/12/galois-theory-in-1500-words.html', target='blank') Galois Theory in 1500 words
            .link
              a(href='http://www.lisazhang.ca/2013/04/6-things-you-probably-dont-know-about.html', target='blank') 6 Things You Probably Don't Know About Colour
          .subsection
            h3 My Code
            .link
              a(href='https://github.com/polychart/polychart2', target='blank') Polychart.js
            .link
              a(href='https://github.com/polychart/builder', target='blank') Polychart Builder
            .link
              a(href='https://github.com/xuexue/resume', target='blank') This Page

      .content
        .section
          h1 Lisa Zhang
          .link
            a(href='mailto: lisa@polychart.com') lisa@polychart.com
          .link
            img.github-logo(src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
            a(href='http://github.com/xuexue', target='_blank') xuexue

          .link
            img.twitter-logo(src='https://g.twimg.com/Twitter_logo_blue.png')
            a(href='http://twitter.com/lisaczhang', target='_blank') lisaczhang

          .link
            img.linkedin-logo(src='http://press.linkedin.com/display-media/206/4')
            a(href='http://linkd.in/lisaczhang', target='_blank') lisaczhang


        .section
          h2 Summary
          p.
            Data Scientist with full stack software development experience.
            I am a bit of a jack-of-all-trades -- having
            studied pure math at the University of Waterloo, spent time at
            large and small companies in a variety of development and data
            roles, and founded my own startup-turned-open-source-project
            Polychart.

          p.
            My proudest achievements are:
          ul
            li.
              Scoring 33 points on the Putnam math contest (where median score is 0 most years)
            li.
              Publishing on the Facebook data science blog.
            li.
              Writing three blog posts that made to the front page of Hacker News.
            li.
              Founding a startup Polychart, taking it through 
              accelerator program Extreme Startups, meeting awesome people for
              a ride that culminated in an open source project
              and personal development.

          p.
            Favourite tools of mine include Python, R (with RStudio, ggplot2),
            coffeescript, vim, git, linear & logisitc regression, and Bayesian
            techniques.

        .section.highlight
          p.
            I am currently looking for a data science or data engineering
            role in Toronto, Ontario.


        //
          .section
            h2 Current Status
            p I am doing something something something.

        .section
          h2 Recent Work

          .subsection
            h3 VP Engineering & Data Scientist
            span.work-info Rubikloud Technologies, Toronto, Ontario, Canada. Winter 2013 - Summer 2014.
            p.work-desc.
              Analyzed e-commerce traffic data to detect factors that increase
              conversion and revenue. Lead a team of 3+ engineers and data
              scientists to build a real-time anomaly detection system.

          .subsection
            h3 Founder & CEO
            span.work-info Polychart Inc, Kitchener/Toronto, Ontario, Canada. Fall 2011 - Winter 2013
            p.work-desc.
              Web-based tool for visualizing SQL databases via drag-and-drop
              data exploration & dashboarding, along with a JavaScript charting
              library that extends the Grammar of Graphics to interaction.

          .subsection
            h3 Software Developer (Intern)
            span.work-info ContextLogic, San Francisco, California, USA. Summer 2011
            p.work-desc.
              Built a pipeline on Hadoop to generate model files used for topic
              inference (of text). Sped up topic inference while
              improving quality.

          .subsection
            h3 Data Scientist (Intern)
            span.work-info Facebook, Palo Alto, California, USA. Spring & Winter 2010
            p.work-desc.
              Studied the impact of "negative events" on user engagement.
              Explored a machine learning approach to photo recommendation.
              Built web-based data tools used by other analysts.

          .subsection
            h3 Software Developer in Analytics (Intern)
            span.work-info Tagged Inc, San Francisco, California, USA. Summer 2009
            p.work-desc.
              Improved the in-house analytics platform used to track metrics
              and perform A/B testing. Built frontend features used by millions
              of users world wide.

        .section
          h2 Education
          .subsection
            h3 Joint Honours Pure & Applied Math, Bachelor of Mathematics, University of Waterloo
            span.work-info Waterloo, Ontario, Canada. 2007 - 2012
            p.work-desc.
              Vice President, and later President of the Statistics Club.
              Part of the Velocity residence, a community of student
              entrepreneurs and founders.

      .footer.
        This is the footer. It is here to tell you that you have reached the
        bottom of the page. Last updated August 2014.
