doctype html
html
  head
    link(href='main.css', rel='stylesheet')
  body
    .container
      .left-menu.
        Text
      .content.
        Hello, world!
      .footer.
        This is the footer
