body {
  font-family: 'Open Sans', serif;
  font-size: 0.8em;
}
p {
  line-height: 1.3em;
}
a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: steelblue;
  text-decoration: underline;
}

.container {
  width: 900px;
  min-height: 1000px;
  padding: 0px;
  margin: 0px;
  margin: auto;

  .left-menu-container {
    width: 250px;
    min-height: 1000px;
    float: left;
  }
  .content {
    width: 650px;
    min-height: 1000px;
    float: left;
  }
  .footer {
    display: block;
    clear: both;
    width: 100%;
    padding: 30px 0px 50px 0px;
    text-align: center;
  }
}

.left-menu {
  margin-top: 150px;
  margin-right: 60px;
  float: right;
  text-align: right;
  line-height: 1.5em;
  h3 {
    font-size: 1em;
    line-height: 2em;
    color: #666;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.5em;
  }
  .subsection {
    margin-bottom: 15px;
  }
  .link {
    line-height: 1em;
    padding-bottom: 0.5em;
  }
}

.section {
  margin-bottom: 40px;
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.3em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.0em;
    font-weight: bold;
    color: #555;
    padding: 0px;
    margin: 0px;
  }
  .subsection {
    margin-bottom: 20px;
    .work-info {
      color: #666;
    }
    .work-desc {
      margin-top: 0.5em;
    }
  }
}

.highlight {
  background: #eee;
  padding: 5px 15px;
}

@logosize: 16px;
.twitter-logo {
  width: @logosize - 3;
  height: @logosize - 3;
  margin-left: 2px;
  margin-right: 5px;
}
.github-logo{
  width: @logosize;
  height: @logosize;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.linkedin-logo{
  width: @logosize - 2;
  height: @logosize - 2;
  margin-right: 5px;
  position: relative;
  top: 2px;
  margin-left: 1px;
}
