body {
  color: blue;
}

.container {
  width: 900px;
  min-height: 1000px;
  padding: 0px;
  margin: 0px;
  margin: auto;

  .left-menu {
    width: 250px;
    min-height: 1000px;
    background: blue;
    float: left;

  }
  .content {
    width: 650px;
    min-height: 1000px;
    background: red;
    float: left;
  }
  .footer {
    clear: both;
    width: 100%;
    background: green;
  }
}
